body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
}

.game {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  display: grid;
  grid-template-columns: 0 0.6fr 0.4fr;
}

@media (min-aspect-ratio: 15/9) {
  .game {
    width: min(140vw, 140vh);
    grid-template-columns: 0.4fr 0.6fr 0.4fr;
  }
}

.info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(5vw, 5vh);
}

.score-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: min(5vw, 5vh);
}

.info h1 {
  color: rgb(199, 199, 199);
  font-size: min(4vw, 4vh);
  font-family: "Righteous", Arial, Helvetica, sans-serif;
  text-align: right;
}

.info h2 {
  color: rgb(198, 198, 198);
  font-size: min(4vw, 4vh);
  font-family: "Righteous", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.info button {
  background-color: rgb(198, 198, 198);
  border: none;
  color: black;
  font-size: min(4vw, 4vh);
  font-family: "Righteous", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: min(1vw, 1vh) min(3vw, 3vh);
}

.info button:hover {
  background-color: rgb(230, 230, 230);
}

.info .game-over {
  font-size: min(6vw, 6vh);
  color: white;
  white-space: nowrap;
}

.high-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: min(1vw, 1vh);
  margin-top: min(3vw, 3vh);
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: rgb(28, 28, 28);
  border: 2px solid rgb(45, 45, 45);
}

.row {
  display: flex;
  width: 100%;
  gap: 1px;
}

.square {
  width: min(4.5vw, 4.5vh);
  height: min(4.5vw, 4.5vh);
  background-color: rgb(0, 0, 0);
}

.I,
.O,
.T,
.J,
.L,
.S,
.Z {
  border-top: 5px solid rgba(209, 209, 209, 0.19);
  border-right: 5px solid rgba(62, 62, 62, 0.211);
  border-bottom: 5px solid rgba(0, 0, 0, 0.317);
  border-left: 5px solid rgba(180, 180, 180, 0.343);
  border-style: outset;
}

.I {
  background-color: #00ffff;
}

.O {
  background-color: #ffff00;
}

.T {
  background-color: purple;
}

.J {
  background-color: #0000ff;
}

.L {
  background-color: #ff7f00;
}

.S {
  background-color: green;
}

.Z {
  background-color: #ff0000;
}

h1 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
